body {
    font-family: sans-serif;
    color: #0a0a23;
    background-color:#eeeeee
  }
  
  h1{
    text-indent:0.5em;
    padding-top:10px;
    color: #356eaf;
  }
  
  #navbar {
    position: fixed;
    min-width:220px;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    border-right: solid;
    border-color: #a8a8a8;
  }
  
  #main-doc {
    margin-left: 260px;
    padding: 20px;
    margin-bottom: 150px;
  }
  
  @media only screen and (max-width: 450px) {
    #navbar {
      width: 100%;
      max-height: 270px;
      border-bottom: 2px solid #a8a8a8;
    }
  
    #main-doc {
      margin-left: 0px;
      margin-top: 270px;
    }
    #contents{
      padding-bottom:10px;
    }
  }
  
      
  .contents li{
    font-weight:bold; 
    padding-bottom:20px;
    cursor:pointer;
  }
  #contents::marker{
    content:">  "
  }
  #contents a{
    color:unset;
    text-decoration: none;
    color: #356eaf;
  }
  #contents a:hover{
    color:black;
  }
  
  header{
    color:#356eaf;
    font-size:20px;
    font-weight:bold;
  
  }
  
  ul{
    padding-bottom:10px;
  }
  
  
  li{
    padding-bottom:10px;
    text-align:justify;
  }
  
  p{
    text-align:justify;
  }
  
  footer{
    margin-left: 260px;
    padding-bottom:10px;
    text-align:center;
  }